body,
p,
h1,
ul,
li,
blockquote {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Volkorn', Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

/* GRID GERAL */
.structure {
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) 3fr 300px;
  grid-template-areas:
    'header header header'
    'sidenav content adverts'
    'footer footer footer';
}

/* HEADER */
header.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 1.875rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

header.header li + li {
  margin-left: 30px;
}

.header nav a {
  display: block;
  padding: 0.625rem 1.25rem;
  color: #fff;
  font-size: 1.125rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

.header nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* SIDENAV */
nav.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 1.875rem;
}

nav.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 1.875rem auto;
  background-color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  transition: background-color 0.2s ease-in-out;
}

nav.sidenav li a:hover {
  background-color: #b07dfb;
}

/* CONTENT */
.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 1.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.875rem;
}

.title h1 {
  color: #b07dfb;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.title span {
  color: #b07dfb;
  font-size: 0.875rem;
  font-style: italic;
}

.col-wide {
  grid-column: 1 / -1;
}

img.image1 {
  grid-row: span 2;
  align-self: end;
}

img.image2 {
  align-self: end;
}

/* ESTILOS CONTENT */


p {
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}

.information p + p {
  margin-top: 1.875rem;
}

/* Características */
.characteristics {
  display: flex;
  align-items: flex-start;
}

.characteristics > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  position: relative;
}

.characteristics > div:first-child {
  margin-right: 30px;
}

.characteristics span {
  display: block;
  color: #b07dfb;
}

.number {
  font-size: 3em;
  line-height: 1;
  margin:10px auto;
}

.label {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.emphasis {
  font-size: 0.875em;
  color: #b07dfb;
  max-width: 16rem;
}

.quote, .attributes {
  align-self: start;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 5px 5px 15px 0 rgba(44, 44, 44, 0.15);
  padding: 2rem;
  border-radius: 5px;
}

.quote p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
}

.attributes li {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}

.attributes li + li {
  border-top: solid 2px #b07dfb;
}


/* ANÚNCIOS */
.adverts {
  grid-area: adverts;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 1.875rem;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

footer.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

footer.footer p {
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  padding: 1.875rem;
}


@media (max-width: 1200px){
  .structure {
    grid-template-areas: 
      'header header header'
      'sidenav content content'
      'sedenav adverts adverts'
      'footer footer footer'
    ;
  }
}

@keyframes arrow {
  from {
    rigth: 30px
  }

  to {
    right: 20px;
  }
}

@media (max-width: 768px){
  .structure {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'sidenav'
    'content'
    'adverts'
    'footer'
    ;
  }

  header.header {
    grid-template-columns: auto;
  }

  header .logo {
    margin-bottom: 20px
  }

  header.header nav a {
    font-size: 1rem;
  }

  header.header li + li {
    margin-left: 10px;
  }

  .sidenav {
    position: relative;
    padding: 0 30px;
    overflow-x: auto;
  }

  .sidenav::after {
    content: " → ";
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, 0.3);
    animation: arrow .5s ease-in 0s infinite alternate;
  }

  .sidenav ul {
    display: flex;
    overflow-x: scroll;
  }

  .sidenav ul li {
    flex: 1 0 60px;
  }

  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}

@media (max-width: 600px){
  .content {
    grid-template-columns: auto;
  }

  .emphasis {
    max-width: 21rem;
  }
}